---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Work+Sans:wght@500&display=swap');

/* variables */
$main-font: 'Roboto Mono', monospace;
$regular-font-size: 17px;
$text-color: #606c71;
$link-color: #5C5CFF;
$heading-font: 'Work Sans';
$heading-color: #4B4B4B;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: $main-font;
  font-size: 1em; /* 16px; specify in ems to support text resizing in all browsers */
  line-height: 1.5;
}

@media (min-width: 38em) {
  html {
    font-size: $regular-font-size;
  }
}

body {
  color: $text-color;
  font-family: $main-font;
  font-size: $regular-font-size;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.content {
  margin-bottom: 4rem;
}

/*
  Container

  Center the page content.
*/

.container {
  max-width: 32rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: 56em) {
  .container {
    max-width: 38rem;
  }
}

/* Links */

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin-bottom: .5rem;
  font-weight: normal;
  color: $heading-color;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1,
h1.text-title {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

h3 {
  font-family: $main-font;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.75rem;
  font-size: 1.1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p code, p a {
  font-size: ($regular-font-size - 1px);
  padding: 4px;
}

/* I use this for emphasis a lot */
p code {
  background-color: #FFB0D0;
}

p a {
  color: $text-color;
  background-color: #D7D7FF;
}


/* Lists */
ul {
  list-style: circle;
}

/* Lists */
ul {
  list-style: circle;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Horizontal ruler */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

/* Search highlighting */
mark {
  color: white;
  background-color: $link-color;
}

/* Quotes */
blockquote {
  padding: 0rem 1.5rem 0rem 2rem;
  margin: 0 0 20px 0;
  color: $text-color;
  border-left: none;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Images */
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/*
  Masthead

  Super small header above the content for site name and short description.
*/

.masthead {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 26px 0;
  margin-bottom: 3rem;
}

.masthead-title {
  color: #505050;
  font-family: $main-font;
  font-size: 1.4rem;
  line-height: .777em;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

.masthead-title small {
  color: $text-color;
  display: none; /* This is an accessibility no-no */
  font-family: $heading-font;
  font-size: .88rem;
  font-weight: normal;
  letter-spacing: .05rem;
}

@media (max-width: 500px) {
  .masthead-title {
    text-align: left;
  }
  .container {
    max-width: 500px;
  }
}

@media (min-width: 48em) {
  .masthead-title small {
    display: inline;
  }
}

/* Other content needs */

.published-date {
  color: #C0C6D9;
  font-size: 17px;
}

.emoji {
  display: inline;
  margin: 0;
}

/* styles on the index page */

.posts .post-title {
  margin-bottom: 5px;
}

.toc h2 {
  margin-bottom: 1.4rem;
}
